.rocket {
  position: fixed;
  width: 60px;
  z-index: 999;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  animation: floatRocket 4s infinite ease-in-out;
}

@keyframes floatRocket {
  0% { transform: translate(-50%, 0px); }
  50% { transform: translate(-50%, -20px); }
  100% { transform: translate(-50%, 0px); }
}
